/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require jquery-ui
*/

#header {
  .navbar-fixed-top .brand {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    &:hover {
      color: #08C;
    }
  }
}

#footer {
  margin-top: 35px;
  padding: 25px 0 26px;
  border-top: 1px solid #E5E5E5;
}

/* Rating
 ************************************
 */
.stars * { margin: 0; padding: 0; list-style: none; }
.stars { height: 25px; width: 125px; background: url('/assets/star.png') left top repeat-x; }
.stars .yellowstars { height: 25px; width: 0px; background: url('/assets/star.png') left repeat-x; } 
.stars .text { text-align: right; font-size: 10px; }
.floatstars { float: right; }

/* Fix, hack
 ************************************
 */
.clearfix {
  clear: both;
}


/* errors
 ************************************
 */
.fieldWithErrors {
  border-color: #B94A48;
  &:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
  }
}
